<h1>Patients List</h1>
<button><%= link_to "Add Patient", new_patient_path %></button>
<% @patients.each do |patient|  %>
<p><%= link_to  patient.name, patient_path(patient) %></p>
<% end %>


<%# 
patient name with link to the show page 
to_params is called on the argument passed into patient_path  

How do we determine what to put in the argument? 
If you look at the routes, and find the patient_path /patients/:id 
The :id means you need to put a patient id in.  Don't include .id in the parameter. 

The reason we sometimes see it as @patient and not patient is because sometimes it's an instance variable and not a local variable, or a block parameter. 


%>
